/* OEM Font Embed */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
/* OEM Font Embed */



/* OEM Font */
.agile-brand { 
font-family: 'Montserrat', sans-serif;
font-weight: 400
}
/* OEM Font */



/* Heading Tags */
.agile-h1, .agile-h2, .agile-h3, .agile-h4, .agile-h5, .agile-h6 {
font-family: 'Montserrat', sans-serif;
font-weight: 800;
line-height: 1.2;
}

.agile-h1 {
font-size: 2rem;
}

.agile-h2 {
font-size: 1.8rem;
}

.agile-h3 {
font-size: 1.6rem;
}

.agile-h4 {
font-size: 1.4rem;
}

.agile-h5 {
font-size: 1.2rem;
}

.agile-h6 {
font-size: 1.1rem;
}

/* Larger than phablet */
@media (min-width: 575px) {
.agile-h1 {
font-size: 2.5rem !important;
}

.agile-h2 {
font-size: 2.2rem !important;
}

.agile-h3 {
font-size: 1.8rem !important;
}

.agile-h4 {
font-size: 1.6rem !important;
}

.agile-h5 {
font-size: 1.4rem !important;
}

.agile-h6 {
font-size: 1.2rem !important;
}
}
/* Heading Tags */



/* Heading Normalizer */
.agile-h1, .agile-h2, .agile-h3, .agile-h4, .agile-h5, .agile-h6, p  {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
/* Heading Normalizer */



/* OEM Font Variables */
.agile-brand-lt {
font-family: 'Montserrat', sans-serif !important;
font-weight: 300 !important;
}

.agile-brand-rg {
font-family: 'Montserrat', sans-serif !important;
font-weight: 400 !important;
}

.agile-brand-bd {
font-family: 'Montserrat', sans-serif !important;
font-weight: 700 !important;
}

.agile-brand-xb {
font-family: 'Montserrat', sans-serif !important;
font-weight: 800 !important;
}

.agile-bold {
font-family: var(--agile-bold-font);   
font-weight: 700;
}
/* OEM Font Variables */



/* Variables */
.agile-brand {
--agile-accent: #2464BF;
--agile-accent2: #004b99;
--agile-accent3: #264188;
--agile-accent4: #ACCAE9;
--agile-accent5: #002c64;
--agile-accent6: #7CABDC;
--agile-accent7: #c8def0;
--agile-accent8: #E42336;
--agile-accent9: #d31a2c;
--agile-accent10: #F36D1F;
--agile-accent11: #e04225;
--agile-black: #000000; 
--agile-white: #ffffff; 
--agile-gray: #AFADB0; 
--agile-gray2: #F4F4F4; 
--agile-gray3: #F9F9FA;
--agile-gray4: #CECFD1;
--agile-gray5: #E4E5E6;
--agile-dark: #333436;
--agile-dark2: #1A1A1A;
--agile-bold-font: 'Montserrat', sans-serif;
}
/* Variables */



/* Text Colors */
.agile-black {
color: var(--agile-black)
}
.agile-white {
color: var(--agile-white)
}
.agile-gray {
color: var(--agile-gray)
}
.agile-gray2 {
color: var(--agile-gray2)
}
.agile-gray3 {
color: var(--agile-gray3)
}
.agile-gray4 {
color: var(--agile-gray4)
}
.agile-gray5 {
color: var(--agile-gray5)
}
.agile-dark {
color: var(--agile-dark)
}
.agile-dark2 {
color: var(--agile-dark2)
}
/* Text Colors */



/* Accent Colors */
.agile-accent {
color: var(--agile-accent)
}
.agile-accent2 {
color: var(--agile-accent2)
}
.agile-accent3 {
color: var(--agile-accent3)
}
.agile-accent4 {
color: var(--agile-accent4)
}
.agile-accent5 {
color: var(--agile-accent5)
}
.agile-accent6 {
color: var(--agile-accent6)
}
.agile-accent7 {
color: var(--agile-accent7)
}
.agile-accent8 {
color: var(--agile-accent8)
}
.agile-accent9 {
color: var(--agile-accent9)
}
.agile-accent10 {
color: var(--agile-accent10)
}
.agile-accent11 {
color: var(--agile-accent11)
}
/* Accent Colors */



/* BG Colors */
.agile-bg-accent {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent);
background-color: rgba(36,100,191, var(--agile-agile-bg-opacity))
}
.agile-bg-accent2 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent2);
background-color: rgba(0,75,153, var(--agile-agile-bg-opacity))
}
.agile-bg-accent3 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent3);
background-color: rgba(38,65,136, var(--agile-agile-bg-opacity))
}
.agile-bg-accent4 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent4);
background-color: rgba(172,202,233, var(--agile-agile-bg-opacity))
}
.agile-bg-accent5 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent5);
background-color: rgba(0,44,100, var(--agile-agile-bg-opacity))
}
.agile-bg-accent6 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent6);
background-color: rgba(124,177,220, var(--agile-agile-bg-opacity))
}
.agile-bg-accent7 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent7);
background-color: rgba(200,222,240, var(--agile-agile-bg-opacity))
}
.agile-bg-accent8 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent8);
background-color: rgba(228,35,54, var(--agile-agile-bg-opacity))
}
.agile-bg-accent9 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent9);
background-color: rgba(211,26,44, var(--agile-agile-bg-opacity))
}
.agile-bg-accent10 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent10);
background-color: rgba(243,109,31, var(--agile-agile-bg-opacity))
}
.agile-bg-accent11 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-accent11);
background-color: rgba(224,66,37, var(--agile-agile-bg-opacity))
}
.agile-bg-gray {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-gray);
background-color: rgba(175,173,176, var(--agile-agile-bg-opacity))
}
.agile-bg-gray2 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-gray2);
background-color: rgba(244,244,244, var(--agile-agile-bg-opacity))
}
.agile-bg-gray3 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-gray3);
background-color: rgba(249,249,250, var(--agile-agile-bg-opacity))
}
.agile-bg-gray4 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-gray4);
background-color: rgba(206,207,209, var(--agile-agile-bg-opacity))
}
.agile-bg-gray5 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-gray5);
background-color: rgba(228,229,230, var(--agile-agile-bg-opacity))
}
.agile-bg-dark {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-dark);
background-color: rgba(51,52,54, var(--agile-agile-bg-opacity))
}
.agile-bg-dark2 {
--agile-agile-bg-opacity: 1;
background-color: var(--agile-dark2);
background-color: rgba(26,26,26, var(--agile-agile-bg-opacity))
}
/* BG Colors */



/* Link Accent */
.agile-link-accent {
text-decoration: none;
color: var(--agile-accent) !important;
transition: all 0.2s ease-in-out 0s;
}
.agile-link-accent:hover {
text-decoration: underline;
color: var(--agile-accent2) !important; 
}

.agile-link-accent2 {
text-decoration: none;
color: var(--agile-white) !important;
transition: all 0.2s ease-in-out 0s;
}
.agile-link-accent2:hover {
text-decoration: underline;
opacity: .85
}

.agile-link-accent3 {
text-decoration: underline;
color: var(--agile-gray5) !important;
transition: all 0.2s ease-in-out 0s;
}
.agile-link-accent3:hover {
opacity: .5
}

.agile-link-accent4 {
text-decoration: underline;
color: var(--agile-dark) !important;
transition: all 0.2s ease-in-out 0s;
}
.agile-link-accent4:hover {
opacity: .5
}

.agile-link-accent5 {
text-decoration: underline;
color: var(--agile-accent8) !important;
transition: all 0.2s ease-in-out 0s;
}
.agile-link-accent5:hover {
color: var(--agile-accent9) !important;
}

.agile-link-accent6 {
text-decoration: underline;
color: var(--agile-accent10) !important;
transition: all 0.2s ease-in-out 0s;
}
.agile-link-accent6:hover {
color: var(--agile-accent11) !important;
}
/* Link Accent */



/* BUTTONS: START */
/* Button 1 */
.agile-button {
background-color: var(--agile-accent);
border: 1px solid var(--agile-accent);
display: inline-block;
vertical-align: middle;
text-align: center;
color: var(--agile-white) !important;
text-decoration: none !important;
padding: 1rem 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
line-height: 1.1;
font-size: .9rem;
min-width: 180px;
transition: background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1),border-color .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}
.agile-button:hover {
background-color: var(--agile-accent2);
color: var(--agile-white);
border: 1px solid var(--agile-accent2);
}

/* Button 2 */
.agile-button2 {
background-color: var(--agile-white);
border: 1px solid var(--agile-gray5);
display: inline-block;
vertical-align: middle;
text-align: center;
color: var(--agile-dark) !important;
text-decoration: none !important;
padding: 1rem 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
line-height: 1.1;
font-size: .9rem;
min-width: 180px;
transition: background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1),border-color .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}
.agile-button2:hover {
background-color: rgba(255, 255, 255, 0.64);
color: var(--agile-dark);
border: 1px solid rgba(255, 255, 255, 0.64);
}

/* Button 3 */
.agile-button3 {
background-color: rgba(0,0,0,.4);
border: 1px solid rgba(255,255,255,.4);
display: inline-block;
vertical-align: middle;
text-align: center;
color: var(--agile-white) !important;
text-decoration: none !important;
padding: 1rem 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
line-height: 1.1;
font-size: .9rem;
min-width: 180px;
transition: background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1),border-color .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}
.agile-button3:hover {
background-color: rgba(0,0,0,.8);
color: var(--agile-whit);
border: 1px solid rgba(255,255,255,.8);
}

/* Button 4 */
.agile-button4 {
background-color: rgba(0,0,0,.8);
border: 1px solid rgba(255,255,255,.4);
display: inline-block;
vertical-align: middle;
text-align: center;
color: var(--agile-white) !important;
text-decoration: none !important;
padding: 1rem 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
line-height: 1.1;
font-size: .9rem;
min-width: 180px;
transition: background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1),border-color .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}
.agile-button4:hover {
background-color: rgba(0,0,0,.4);
color: var(--agile-whit);
border: 1px solid rgba(255,255,255,.8);
}

/* Button 5 */
.agile-button5 {
background-color: var(--agile-accent8);
border: 1px solid rgba(255,255,255,.4);
display: inline-block;
vertical-align: middle;
text-align: center;
color: var(--agile-white) !important;
text-decoration: none !important;
padding: 1rem 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
line-height: 1.1;
font-size: .9rem;
min-width: 180px;
transition: background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1),border-color .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}
.agile-button5:hover {
background-color: var(--agile-accent9);
color: var(--agile-whit);
border: 1px solid rgba(255,255,255,.8);
}

/* Button 6 */
.agile-button6 {
background-color: var(--agile-accent10);
border: 1px solid rgba(255,255,255,.4);
display: inline-block;
vertical-align: middle;
text-align: center;
color: var(--agile-white) !important;
text-decoration: none !important;
padding: 1rem 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
line-height: 1.1;
font-size: .9rem;
min-width: 180px;
transition: background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1),border-color .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}
.agile-button6:hover {
background-color: var(--agile-accent11);
color: var(--agile-whit);
border: 1px solid rgba(255,255,255,.8);
}
/* BUTTONS: END */


/* keeps button white on safari */    
a, a:visited, a:active, .content a {
color: none !important
}

.agile-button-round {
border-radius: 4px;
}

.agile-button-pill {
border-radius: 30px
}
